@model practice1.ViewModel.CommonViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Movie List</h2>
        @foreach (var n in Model.CommonMovie)
        {

           <table>
               <tr>
                   <td>
                      @Html.ActionLink(Convert.ToString(@n.ID),"Movie", new { ID = @n.ID }) 
                   </td>
                   <td>
                       @n.MovieName
                   </td>
               </tr>
           </table>
        }


    </div>
</body>
</html>
